TABLE_LOCKING_SAGA_GROUP_NAME='table-lock-placed'
TABLE_PROJECTION_GROUP_NAME='table-projection'
POSTGRES_CONNECTION_STRING='postgresql://admin:password@localhost:5432/restaurant-booking'
EVENT_STORE_ENDPOINT='localhost:2113'
EVENT_STORE_INSECURE='true'
DRIZZLE_MIGRATION_FOLDER='./drizzle'